<div
  style="
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10vh 0 0 1vw;
  "
>
  <div class="menu-item" style="margin-left: 0">
    <input #filter type="text" name="filter" id="filter" placeholder="Filter" (keyup)="ft(filter.value)" />
  </div>
  <div class="menu-item">
    <button
      style="
        background-color: lightslategray;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        color: white;
        font-size: 30px;
        font-weight: 800;
      "
      (click)="create()"
    >
      +
    </button>
  </div>
</div>
